
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
.post-likes {
    display: flex;
    align-items: center;
}
.post-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2% 0;
}
.post h2 {
    color: #111212;
    font-family: 'Oswald', sans-serif;
}
.post p {
    color: #111212;
    font-family: 'Rubik', sans-serif;
}
.post {
    padding: 1% 0;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1vh;  
    width: 70%;
    height: auto;
    min-height: 35vh;
    max-height: 70vh;
    margin: 30px 0 30px 0;
    backdrop-filter: blur(10px);
    border: 1px solid rgb(56, 56, 56);
    filter: drop-shadow(-4px 4px 1px rgb(47, 43, 39, 0.5));
    background-color: #ffffffac
}
.post-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 7%;
    height: auto;
    justify-content: space-between
    
}
.post-title {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 0 0 0 2%;
    justify-content: space-between;
}
.post-title-up {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin: 0 0 0 2%;
    justify-content: space-between;
}
.post-title-down {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    width: 80%;
}
.post-title-down div {
    margin: 0 1% 0 0;
    font-size: 12px;
    color: rgba(124, 124, 124, 0.923);
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0.801);
    padding: 0 2%;
    cursor: context-menu;
    border: 1px solid rgba(0, 0, 0, 0.25)
}
.post-title-element {
    display: flex;
    align-items: center;
    justify-content: space-between

}
.post-title-element h2 {
    margin-left:20px;
}
.post-data-text {
    height: 100%;
    padding: 7px;
    line-height: 1.5;
    width: 100%;
    white-space: pre-line;
    max-height: 40vh;
    min-height: 150px;
    display: flex;
    overflow: hidden;
    /* -webkit-box-shadow: inset 0px -8px 1px 0px rgba(169, 169, 169, 0.67);
    -moz-box-shadow: inset 0px -8px 1px 0px rgba(169, 169, 169, 0.67);
    box-shadow: inset 0px -8px 1px 0px rgba(169, 169, 169, 0.67); */
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 1% auto;

}
.post-data-text p {
    height: 100%;
    overflow-y: overlay;
}
.post-data-text p::-webkit-scrollbar {
    width: 30px;
}
.imagepost {
    height: 100%;
    width: auto;
    max-height: 33vh;
    max-width: 100%;
    
    transition: all 0.5 ease-in-out;
}
.btn-like, .btn-dislike{
    background-color: transparent;
    width:32px;
    height:32px;
    padding: 0;
    border: none;
    margin: 0 5%;
}
.btn-like:hover, .btn-dislike:hover{
    background-color: transparent;
    width:32px;
    height:32px;
    padding: 0;
    border: none;
}

.pressed{
    background-color: rgb(239, 154, 43);
    width:32px;
    height:32px;
    padding: 0;
    border: none;
    margin: 0 5%;
}